

<div class="outer-container container">
  <div>

    <%= Time.now %>
    <%= current_user.email %>
    <h1>Welcome </h1>

  </div>



  <div class="planet">
    <div class="wrap">
      <div class="background"></div>
      <div class="clouds"></div>
    </div>
    <div class="mask"></div>
  <%# see original version for plate map update %>
    </div>
  </div>

</div>
