

<div>
  <%= Time.now%>
  <h1>Welcome </h1>
  <p>Find me in app/views/pages/home.html.erb</p>




  <div class="planet">
    <div class="wrap">
      <div class="background"></div>
      <div class="clouds"></div>
    </div>
    <div class="mask"></div>
  <%# see original version for plate map update %>
    </div>
  </div>

</div>
